* {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  background-color: #FEFDFB;
}

html, body {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

h1 {
  font-weight: 600;
}

/* index page */

