.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-grow: 0.8fr;


}

.carousel {
  display: flex;
  flex-wrap: wrap;
}

.quoteCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: fit-content;
  flex-grow: 0.8fr;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.125rem;
}