.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;

}

.carousel {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-around;
  gap: 1rem;
}

.carouselBotton {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: space-around;
  gap: 2rem;
  line-height: 1.5rem;
}