:root {
  --primaryYellow: #FFC149;
  --primaryOrange: #F97C3F;
  --primaryBlue: #53C1EC;
  --main-background-color: #FFFDFB;
  --main-text-color: #131313;
  --text-gray-color: #939393;
  --border-color: #131313;
  --white: #ffffff;
}
